/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
/.vs/AddressBook/DesignTimeBuild/.dtbcache.v2
/.vs/AddressBook/FileContentIndex/3e31b543-95fe-45d4-b6cc-241d3448c65a.vsidx
/.vs/AddressBook/FileContentIndex/8eb9f759-7cef-4a48-b81b-552af5c9cfd0.vsidx
/.vs/AddressBook/FileContentIndex/a33f562a-5915-4042-a4dd-2974d74d87ec.vsidx
/.vs/AddressBook/FileContentIndex/ac28ab07-39d5-4afd-bf4d-81a58c94c846.vsidx
/.vs/AddressBook/FileContentIndex/c669541c-9c9b-4bb0-ae52-8e71bf3197bf.vsidx
/AddressBook.XUnitTest/bin
/AddressBook.XUnitTest/obj/Release/net8.0
/AddressBook.Test/bin
/AddressBook.Objects/bin/Debug/net8.0
/AddressBook.API/bin/Debug/net8.0
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
/[Nn]et8.0/
/[Dd]ebug/net8.0/
.vs/
*.[Cc]ache
*.[Vv]sidx
/AddressBook.API/obj/AddressBook.API.csproj.nuget.dgspec.json
/.vs/AddressBook/v17/TestStore/0/001.testlog
/AddressBook.Test/bin/Debug/net8.0/nunit_random_seed.tmp
/addressbookclient/package-lock.json
